

*{
  padding:0;
  margin: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
body{
  background: whitesmoke;/*rainsboro*/;
}
.side-menu{
  position: fixed;
  background: rgb(224, 224, 235);
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;

  transition: width.2s ease-in;
}

.side-menu.inactive{
  width: 80px
}




.side-menu .top-section{
  position: relative;
}
.side-menu .top-section .logo{
  width: 50px;
  height: 50px;
}

.side-menu .top-section .logo img{
  max-width: 100%;
  max-height: 100%;
}
.side-menu .top-section .toggle-menu-btn{
  color:  grey;
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  /*right: -50px;*/
  transform: translateY(-50%);

  
}

.side-menu .search-controller{
  color: skyblue;
}

.side-menu .search-controller .search-btn{
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #666;
 
}

.side-menu.inactive .top-section .toggle-menu-btn{
  right: -50px;
}
.side-menu .search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 35px;
  background: white;
  border-radius: 5px;
  width: 100%;
  display: block;
  margin: 20px 0;
  box-sizing: border-box;
  padding-left: 50px;
  
}
.divider{
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: rgb(197, 186, 186);
}


.side-menu .main-menu{
  margin: 5px 0;
}


.side-menu .main-menu .menu-item{
  text-decoration: none;
  color: gray;
  font-size: 14px;
  display: block;
  font-weight: 600px;
  cursor: pointer;

}


.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item span{
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu{
  color: gray;
  margin-left: 20px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 2px solid whitesmoke;

}

.side-menu .main-menu .side-menu a{
  display: block;
  margin: 5px 0;
  font-size: 50px;
  font-weight: 600;
}


.side-menu-footer{
  width: 100%;
  /* height: 100px; */
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.side-menu-footer .avtar{
  padding: 20px 20px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 50%;
  display: inline-block;

}

.side-menu-footer .user-info{
  display: inline-block;
  margin: 0 10px;
  color: gray;
  /* position: absolute; */
  opacity: 1;
  transition: opacity .0.5s ease-out;

}

.side-menu.inactive .side-menu-footer .user-info {
  height: 0;
  width: 0;
  overflow: hidden;
 
}
.side-menu-footer .user-info h5{
  font-size: 15px;
} 

.side-menu-footer .user-info p{
  
  font-size: 12px;
}