

*{
  padding:0;
  margin: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
body{
  background: white;
}
.side-menu{
  position: fixed;
  background: white;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  font-family: 'Open Sans', sans-serif;
  transition: width.2s ease-in;
  box-shadow: 0 5px 8px 0 #00000033, 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  margin-top: 57px;
}

.side-menu.inactive{
  width: 80px
}




.side-menu .top-section{
  position: relative;
}
.side-menu .top-section .logo{
  width: 50px;
  height: 50px;
}

.side-menu .top-section .logo img{
  max-width: 100%;
  max-height: 100%;
}
.side-menu .top-section .toggle-menu-btn{
  color:  #2391F9;
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  /*right: -50px;*/
  transform: translateY(-50%);

  
}

.side-menu .search-controller{
  color: #2391F9;
}

.side-menu .search-controller .search-btn{
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color:#2391F9;
 
}

.side-menu.inactive .top-section .toggle-menu-btn{
  right: -50px;
}
.side-menu .search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 35px;
 
  width: 100%;
  display: block;
  margin: 20px 0;
  box-sizing: border-box;
  padding-left: 50px;
  
}
.divider{
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: rgb(197, 186, 186);
}

.side-menu .main-menu{
  margin: 5px 0;
}


.side-menu .main-menu .menu-item{
  text-decoration: none;
  color: #2391F9;
  font-size: 14px;
  display: block;
  font-weight: 600px;
  cursor: pointer;

}


.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item span{
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity .2s ease-in;
  font-family: 'Open Sans', sans-serif;
}

.side-menu.inactive .main-menu .menu-item span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu{
  color: gray;
  margin-left: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  /* border-left: 2px solid whitesmoke; */
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in;

}
.side-menu .main-menu .sub-menu  a{
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  color: gray;
}
.side-menu .main-menu .menu-item.active{
  background: #2391F9;
  /* box-shadow: 0 5px 8px 0 rgba(94, 120, 131, 0.2) , 0 9px 26px 0 rgba(62, 203, 238, 0.19); */
  border-radius: 5px;
  color: #fff;
}

.side-menu .main-menu .sub-menu  a.active{
  background: skyblue;
  color: #fff;
  
}
.side-menu .main-menu .sub-menu li{
  padding: 5px;
}

.side-menu .main-menu .sub-menu.active{
  max-height: 200px;
  
  
}

.side-menu .main-menu .side-menu a{
  display: block;
  margin: 5px 0;
  font-size: 50px;
  font-weight: 600;
}


.side-menu-footer{
  width: 100%;
  /* height: 100px; */
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.side-menu-footer .avtar{
  padding: 20px 20px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 50%;
  display: inline-block;

}

.side-menu-footer .user-info{
  display: inline-block;
  margin: 0 10px;
  color: gray;
  /* position: absolute; */
  opacity: 1;
  transition: opacity .0.5s ease-out;

}

.side-menu.inactive .side-menu-footer .user-info {
  height: 0;
  width: 0;
  overflow: hidden;
 
}
.side-menu-footer .user-info h5{
  font-size: 15px;
} 

.side-menu-footer .user-info p{
  
  font-size: 12px;
}


.container{
 
  margin-top: 50px;
  margin-left: 300px;
  transition: margin-left .2s ease-in;
  padding: 50px;
}

.container.inactive{
  margin-left: 80px;
  padding: 50px;
}